{% extends 'base.html' %}
{% load static %}

{% block title %}
    This Post Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post title">
            <address>By HBL Altrono</address>
            <div>
                Last updated on <time>July 10th</time>
            </div>
        </article>
    </section>
    <main>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Blanditiis consequuntur cupiditate, dignissimos dolorem ea facilis ipsam ipsum labore laboriosam laborum
            laudantium maiores pariatur qui similique tenetur, unde voluptate voluptatem voluptatum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Blanditiis consequuntur cupiditate, dignissimos dolorem ea facilis ipsam ipsum labore laboriosam laborum
            laudantium maiores pariatur qui similique tenetur, unde voluptate voluptatem voluptatum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Blanditiis consequuntur cupiditate, dignissimos dolorem ea facilis ipsam ipsum labore laboriosam laborum
            laudantium maiores pariatur qui similique tenetur, unde voluptate voluptatem voluptatum.
        </p>
    </main>
{% endblock %}
